{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="zh-CN" {% endblock %}
{% block title %}Nodes{% endblock %}
{% block metas %}
{{ super() }}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}
{% block styles %}
{{ super() }}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='ie10-viewport-bug-workaround.css') }}">
{% endblock %}
{% block body %}
{% block navbar %}

{% endblock %}
{% block content %}
<div class="container">
    <div class="row clearfix">
    	<div class="col-md-12 column">
    		<ul class="nav nav-tabs">
    			<li class="active">
    				 <a href="#">添加事情</a>
    			</li>
    			<!-- <li class="disabled">
    				 <a href="#">信息</a>
    			</li> -->
                {% if not session.logged_in %}
                    <li class="pull-right">
                        <a href="{{ url_for('views.login') }}">登入</a>
                    </li>
                {% else %}
                    <li class="dropdown pull-right">
                        {% if session['roleinfo']['nickname'] %}
                    	   <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ session['roleinfo']['nickname'] }}<strong class="caret"></strong></a>
                        {% else %}
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ session['username'] }}<strong class="caret"></strong></a>
                        {% endif %}
                        <ul class="dropdown-menu">
                            <li>
                    			 <a href="{{ url_for('views.show_roleinfo') }}">我的信息</a>
                    		</li>
                            <li>
                    			 <a href="{{ url_for('views.show_articlelist') }}">文章列表</a>
                    		</li>
                    		<li>
                    			 <a href="{{ url_for('views.add_article') }}">添加文章</a>
                    		</li>
                    		<li class="divider">
                    		</li>
                    		<li>
                    			 <a href="{{ url_for('views.logout') }}">登出</a>
                    		</li>
                    	</ul>
                    </li>
                {% endif %}
    		</ul>
    	</div>
    </div>
    <div class="row clearfix">
		<div class="col-md-12 column">
            <h2></h2>
		</div>
	</div>
    <div class="row clearfix">
        <form action="{{ url_for('views.show_entries', currentpage=session['currentpage']) }}" method="GET" role="form">
    		<div class="col-md-12 column">
    			 <button type="submit" class="btn btn-default btn-primary pull-right">返回</button>
    		</div>
        </form>
	</div>
	<div class="row clearfix">
        {% if entry %}
            <form action="{{ url_for('views.update_entry') }}" method="POST" role="form">
        {% else %}
            <form action="{{ url_for('views.add_entry') }}" method="POST" role="form">
        {% endif %}
            <div class="form-group col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-1 column">
                    </div>
                    <label for="inputgsmc" class="col-sm-2 control-label">标题</label>
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div class="col-md-1 column">
                            </div>
            				<div class="col-md-10 column">
                                {% if entry %}
                                    {{ form.title(class='form-control', value=entry.title ) }}
                                {% else %}
                                    {{ form.title(class='form-control', placeholder="账号") }}
                                {% endif %}
            				</div>
                        </div>
                    </div>
    			</div>
            </div>
            <div class="form-group col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-1 column">
                    </div>
                    <label name="label" for="inputgsmc" class="col-sm-2 control-label">内容</label>
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div class="col-md-1 column">
                            </div>
            				<div class="col-md-10 column">
                                {% if entry %}
                                    <input type="hidden" value={{ form.content.process_data(entry.text) }}>
                                    {{ form.content(class='form-control', rows="5", required="required") }}
                                {% else %}
                                    {{ form.content(class='form-control', rows="5", required="required") }}
                                {% endif %}
            				</div>
                        </div>
                    </div>
    			</div>
            </div>
            {% if entry %}
                <input type="hidden" name="id" value={{ entry.id }}>
            {% endif %}
            <div class="form-group">
                <div class="col-sm-6">
                    {{ form.submit(class='btn btn-danger pull-right tb') }}
                </div>
                <div class="col-sm-6">
                    <button name="reset" type="reset" class="btn btn-default pull-left">重置</button>
                </div>
            </div>
        </form>
	</div>
</div>
{% block page_content %}
{% endblock %}
{% endblock %}
{% block footer %}
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
{% endblock %}
