{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="zh-CN" {% endblock %}
{% block title %}Nodes{% endblock %}
{% block metas %}
{{ super() }}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}
{% block styles %}
{{ super() }}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='ie10-viewport-bug-workaround.css') }}">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='signin.css') }}">
{% endblock %}
{% block body %}
{% block navbar %}
{% endblock %}
{% block content %}
<div class="container">

  <form action="{{ url_for('views.login') }}" class="form-signin" method="POST">
    <h2 class="form-signin-heading">登入</h2>
    <label for="inputAccount" class="sr-only">Account</label>
    {{ form.account(class='form-control', placeholder="账号") }}
    <label for="inputPassword" class="sr-only">Password</label>
    {{ form.passwd(class='form-control', placeholder="密码") }}
    <div class="checkbox">
      <label>{{ form.checkbox(value=1) }}记住我</label>
    </div>
    {{ form.submit(class='btn btn-lg btn-primary btn-block') }}
    <a class="pull-right" href="{{ url_for('views.register') }}">注册</a>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
  </form>

</div> <!-- /container -->
{% block page_content %}
{% endblock %}
{% endblock %}
{% block footer %}
{% endblock %}
{% endblock %}
