{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="zh-CN" {% endblock %}
{% block title %}Nodes{% endblock %}
{% block metas %}
{{ super() }}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}
{% block styles %}
{{ super() }}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='ie10-viewport-bug-workaround.css') }}">
{% endblock %}
{% block body %}
{% block navbar %}

{% endblock %}
{% block content %}
<div class="container">
    <div class="row clearfix">
    	<div class="col-md-12 column">
    		<ul class="nav nav-tabs">
    			<li class="active">
    				 <a href="#">我要做的事情</a>
    			</li>
    			<!-- <li class="disabled">
    				 <a href="#">信息</a>
    			</li> -->
                <li class="pull-right">
                    {% if not session.logged_in %}
                      <a href="{{ url_for('views.login') }}">登入</a>
                    {% else %}
                      <a href="{{ url_for('views.logout') }}">登出</a>
                    {% endif %}
                </li>
                <li class="pull-right">
                    {% if session['roleinfo']['nickname'] %}
                        <a href="{{ url_for('views.show_roleinfo') }}">欢迎你，{{ session['roleinfo']['nickname'] }}</a>
                    {% else %}
                        <a href="{{ url_for('views.show_roleinfo') }}">欢迎你，{{ session['username'] }}</a>
                    {% endif %}
                </li>
    		</ul>
    	</div>
    </div>
    <div class="row clearfix">
		<div class="col-md-12 column">
            <h2></h2>
		</div>
	</div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <form action="{{ url_for('views.search', currentpage=1) }}" method="POST" class="navbar-form navbar-left" role="search">
    			<div class="form-group">
                    {% if session['searchkey'] %}
                        <input name="search" type="text" class="form-control" value={{ session['searchkey'] }}>
                    {% else %}
                        <input name="search" type="text" class="form-control">
                    {% endif %}
    			</div> <button type="submit" class="btn btn-default">搜索</button>
    		</form>
            <form action="{{ url_for('views.add_entry') }}" class="navbar-form navbar-right" method="GET" role="form">
    			 <button type="submit" class="btn btn-default btn-danger pull-right">添加事情</button>
            </form>
        </div>
	</div>
    {% if entries %}
        {% for i in range(5) %}
            {% if entries[(currentpage-1)*5+i] %}
            <div class="row clearfix">
              <div class="col-md-12 column">
                  <h2>{{ entries[(currentpage-1)*5+i].title }}</h2>
                  <p>{{ entries[(currentpage-1)*5+i].text|safe }}</p>
                  <p class="pull-right">
                      <a class="btn" href="{{ url_for('views.edit_entry', id=entries[(currentpage-1)*5+i].id) }}">编辑</a>
                      <a class="btn" href="{{ url_for('views.del_entry', id=entries[(currentpage-1)*5+i].id) }}">删除</a>
                      创建时间：{{ entries[(currentpage-1)*5+i].createtime|safe }}
                  </p>
              </div>
            </div>
            {% endif %}
        {% endfor %}
        <div class="row clearfix">
    		<div class="col-md-12 column">
    			<ul class="pagination pull-right">
                    {% if currentpage == 1 %}
        				<li>
        					 <a>Prev</a>
        				</li>
                    {% else %}
                        <li>
                             <a href="{{ url_for('views.pre_page') }}">Prev</a>
                        </li>
                    {% endif %}
                    {% if currentpage - 2 >= 1 %}
                        <li>
                             <a href="{{ url_for('views.show_entries', currentpage=currentpage-2) }}">{{ currentpage-2 }}</a>
                        </li>
                    {% endif %}
                    {% if currentpage - 1 >= 1 %}
                        <li>
                             <a href="{{ url_for('views.show_entries', currentpage=currentpage-1) }}">{{ currentpage-1 }}</a>
                        </li>
                    {% endif %}
                    <li class='active'>
                         <a>{{ currentpage }}</a>
                    </li>
                    {% if currentpage + 1 <= maxpage %}
                        <li>
                             <a href="{{ url_for('views.show_entries', currentpage=currentpage+1) }}">{{ currentpage+1 }}</a>
                        </li>
                    {% endif %}
                    {% if currentpage + 2 <= maxpage %}
                        <li>
                             <a href="{{ url_for('views.show_entries', currentpage=currentpage+2) }}">{{ currentpage+2 }}</a>
                        </li>
                    {% endif %}
                    {% if currentpage >= maxpage %}
        				<li>
        					 <a>Next</a>
        				</li>
                    {% else %}
                        <li>
                             <a href="{{ url_for('views.next_page') }}">Next</a>
                        </li>
                    {% endif %}
    			</ul>
    		</div>
    	</div>
    {% else %}
      <li><em>Unbelievable.  No entries here so far</em>
    {% endif %}
</div>
{% block page_content %}
{% endblock %}
{% endblock %}
{% block footer %}
{% endblock %}
{% endblock %}
